.section-gallery {
  margin: 20px 0;
}
.gallery__containner {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
@media (min-width: 768px) {
  .gallery__containner {
    max-width: 600px;
    padding: 0;
  }
}
@media (min-width: 960px) {
  .gallery__containner {
    max-width: 800px;
  }
}
@media (min-width: 1024px) {
  .gallery__containner {
    max-width: 1000px;
  }
}
@media (min-width: 1200px) {
  .gallery__containner {
    max-width: 1170px;
  }
}
.gallery__inner {
  text-align: center;
}
.gallery__post-content img {
  width: 100%;
  height: auto;
}
@media (min-width: 960px) {
  .gallery__post-content img {
    height: 550px;
  }
}
.gallery__post-title {
  text-align: center;
}
.gallery__filters {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}
.gallery__filters .gallery__filters-grid {
  width: 100%;
}
.gallery__filters .gallery__filters-grid-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
}
.gallery__filters .gallery__filters-item {
  padding: 0 20px;
}
.gallery__filters .gallery__filters-item .is-checked {
  color: black;
}
.gallery__grid-inner {
  display: block;
}
@media (min-width: 768px) {
  .gallery__grid-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.gallery__grid-item {
  position: relative;
  width: 100%;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .gallery__grid-item {
    flex: 1 0 auto;
    width: calc(50%);
    padding: 0 10px;
  }
}
@media (min-width: 960px) {
  .gallery__grid-item {
    width: calc(33.33333333%);
  }
}
@media (min-width: 1024px) {
  .gallery__grid-item {
    width: calc(25%);
  }
}
@media (min-width: 1200px) {
  .gallery__grid-item {
    width: calc(20%);
  }
}
.gallery__grid-item img {
  opacity: 1;
  transition: all 200ms ease-in-out;
}
.gallery__grid-item-inner {
  width: 100%;
  overflow: hidden;
}
@media (min-width: 768px) {
  .gallery__grid-item-inner {
    width: 221px;
  }
}
.gallery__grid-item:hover img {
  opacity: 0.3;
}
.gallery__grid-item:hover .gallery__grid-item-thumbnail {
  background-color: #fce800;
}
.gallery__grid-item:hover .gallery__grid-item-title {
  margin-top: -60%;
  position: absolute;
  text-align: center;
  width: 100%;
  transition: all 600ms ease-in-out;
}
.gallery__grid-item:not(:hover) .project-element-title {
  position: absolute;
  width: 100%;
  margin-top: 0%;
  text-align: center;
  transition: all 600ms ease-in-out;
}
.gallery__grid-item-content {
  position: relative;
  height: 60px;
  margin-top: -10px;
  background-color: white;
}
.gallery__grid-item-title {
  padding: 10px;
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
}
.gallery__grid-item-title a {
  color: #69645f;
  text-decoration: none;
}
.gallery__grid-item-title span {
  font-weight: 400 !important;
}
.gallery__grid-item-thumbnail img {
  width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  .gallery__grid-item-thumbnail img {
    width: 222px;
    height: 191px;
  }
}
.quote-caculator {
  height: auto;
  padding: 30px 0;
  background: linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6));
}
.quote-caculator h6 {
  font-size: 13px;
}
.quote-caculator__container {
  max-width: 100%;
  margin: 0 15px;
}
@media (min-width: 960px) {
  .quote-caculator__container {
    max-width: 768px;
    margin: 0 auto;
  }
}
@media (min-width: 1024px) {
  .quote-caculator__container {
    max-width: 960px;
  }
}
.quote-caculator__inner {
  height: 100%;
}
.quote-total__label {
  font-weight: bold;
  line-height: 1.8;
  display: inline-flex;
  flex: 0 1 100%;
  justify-content: flex-end;
  align-items: stretch;
  float: none;
  width: 250px;
  margin-bottom: 10px;
  padding: 0;
  text-align: right;
  color: #FFF;
  background: #f06731;
  border-radius: 50px;
}
@media (min-width: 768px) {
  .quote-total__label {
    width: 400px;
    margin: 0 auto;
  }
}
.quote-total__label .quote-total__text {
  align-self: center;
  margin-right: 1em;
  text-transform: uppercase;
  font-weight: 400;
  font-size: .85em;
}
.quote-total__label .quote-total__currency {
  display: inline-block;
  background: rgba(0, 0, 0, 0.25);
  padding: 5px 3px 5px 20px;
}
.quote-total__label .quote-total__price {
  font-size: 1.2em;
  line-height: 1.9;
  border-radius: 0;
  opacity: 1;
  filter: alpha(opacity=100);
  font-size: 22px;
  line-height: 1.8;
  display: inline-block;
  background: rgba(0, 0, 0, 0.25);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: 5px 20px 5px 3px;
}
.step-content {
  display: block;
}
@media (min-width: 768px) {
  .step-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}
.search-grid--sub-brands,
.step-content--brands {
  display: block;
  height: 400px;
  overflow-y: scroll;
}
.disabled {
  display: none !important;
}
.search-products {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  overflow-y: scroll;
}
@media (min-width: 960px) {
  .search-products .search-grid--ajax {
    max-width: 300px;
    margin: 0 auto;
    padding: 0;
  }
}
.search-products .search-grid--ajax .search-item {
  border: none;
}
@media (min-width: 960px) {
  .search-products .search-grid--ajax .search-item {
    width: 100px;
    height: 100px;
  }
}
.search-products .search-grid--ajax .search-item .search-image img {
  height: 100px;
  border: none;
}
.search-products .search-grid--ajax .search-item--selected {
  border: 4px solid #42404f;
}
.search-products .search-grid--ajax .search-item--selected .search-image img {
  height: 92px;
}
.search-products .search-item--first {
  display: none;
}
@media (min-width: 960px) {
  .search-products .search-item--first {
    display: block;
    width: 50%;
  }
}
.search-products .search-item--first .search-image img {
  width: 326px;
  height: 270px;
}
.search-products .search-item--second {
  width: 100%;
}
@media (min-width: 960px) {
  .search-products .search-item--second {
    width: 45%;
    height: 400px;
    overflow-y: scroll;
  }
}
.step-info,
.step-image {
  width: 100%;
}
@media (min-width: 768px) {
  .step-info,
  .step-image {
    width: 50%;
    padding: 0 20px;
  }
}
.search-form {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0 !important;
}
.search-form input {
  max-width: 250px;
  margin: 0 15px;
}
.search-grid {
  display: block;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 0;
}
@media (min-width: 768px) {
  .search-grid {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.search-grid .search-item {
  position: relative;
  width: auto;
  margin: 10px;
  cursor: pointer;
}
@media (min-width: 768px) {
  .search-grid .search-item {
    width: 200px;
  }
}
.search-grid .search-item .search-image img {
  width: 200px;
  height: 56px;
  border: 4px solid #42404f;
}
.search-grid .search-item .search-image img:hover {
  box-shadow: 0px 0px 5px 2px #a3a0a0;
}
.search-grid .search-item h6 {
  font-size: 13px;
}
.search-grid--range .search-item--range .search-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 56px;
  background: lightgray;
  border: 4px solid #42404f;
}
@media (min-width: 768px) {
  .search-grid--range .search-item--range .search-image {
    width: 200px;
  }
}
.search-grid--range .search-item--range .search-image:hover {
  box-shadow: 0px 0px 5px 2px #a3a0a0;
}
.search-grid--range .search-item--range .search-image img {
  display: none;
}
.edge-grid {
  display: block;
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .edge-grid {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.edge-grid .edge-item {
  width: 100%;
  padding: 10px 2px;
  cursor: pointer;
}
@media (min-width: 768px) {
  .edge-grid .edge-item {
    width: 275px;
    padding: 10px;
  }
}
.edge-grid .edge-item .edge-image {
  width: 255px;
  height: 192px;
}
.edge-grid .edge-item .edge-image img {
  height: 181px;
  padding: 4px;
  background: #FFF;
  border: solid 1px #d1d1d1;
  border-radius: 0.25rem;
}
.edge-grid .edge-item .edge-thumb {
  width: 255px;
  height: auto;
  margin-top: 10px;
}
.edge-grid .edge-item:hover {
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
}
.edge-grid .edge-content {
  padding: 10px;
}
.edge-grid .edge-content input {
  width: 100% !important;
}
.edge-grid .edge-item--selected {
  width: 284px;
  border: 4px solid #42404f;
}
@media (min-width: 768px) {
  .edge-grid--final {
    display: flex;
    justify-content: end;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 650px;
    margin: 0 auto;
  }
}
.edge-grid--final .edge-item {
  width: 50%;
  height: auto;
  text-align: left;
}
.edge-grid--final .edge-item:hover {
  box-shadow: none;
}
.edge-grid--final .edge-content {
  padding: 0;
}
.edge-grid--final .edge-option {
  font-size: 1em;
}
.edge-grid--final .h6 {
  font-size: 15px;
}
/* ------- contact form styles ------- */
.contact {
  max-width: 600px;
  margin: 0 auto;
}
/* ------- form styles ------- */
#msform {
  position: relative;
  margin: 20px auto;
  text-align: center;
}
@media (min-width: 1024px) {
  #msform {
    margin: 50px auto;
  }
}
/*headings*/
.fs-title {
  max-width: 600px;
  margin: 0 auto;
  font-size: 1.5em;
  text-transform: uppercase;
  color: #2C3E50;
  padding-bottom: 15px;
}
@media (min-width: 768px) {
  .fs-title {
    padding-bottom: 20px;
  }
}
.fs-subtitle {
  font-weight: normal;
  font-size: 1.25em;
  color: #666;
  margin-bottom: 20px;
}
#msform .step {
  display: none;
  position: relative;
  width: 100%;
  background: #f9f9f9;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 15px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  #msform .step {
    padding: 20px 30px;
  }
}
#msform .step h5 {
  font-size: 1.25em;
  text-align: left;
}
#msform .step .quote-item {
  display: flex;
  align-items: center;
  margin: 0 0 30px;
}
@media (max-width: 650px) {
  #msform .step .quote-item {
    margin: 0 0 20px;
    padding: 0;
  }
}
#msform .step .search-form {
  display: block;
}
@media (min-width: 768px) {
  #msform .step .search-form {
    display: flex;
    align-items: center;
  }
}
#msform .step .search-form label {
  width: 100%;
}
#msform .step .search-form input {
  width: 100%;
  margin-bottom: 10px;
  margin-left: 0;
}
@media (min-width: 768px) {
  #msform .step .search-form input {
    margin: 0 5px;
  }
}
#msform .step .contact-group {
  display: block;
}
@media (min-width: 768px) {
  #msform .step .contact-group {
    display: flex;
    align-items: center;
  }
}
#msform .step .contact-group label {
  margin-bottom: 5px;
}
@media (min-width: 768px) {
  #msform .step .contact-group label {
    float: initial;
    margin: 0;
  }
}
#msform .step .contact-group input {
  width: 100%;
}
#msform .step .contact-group .error {
  border-color: red !important;
}
#msform .step .step-info {
  max-height: 400px;
  overflow-y: scroll;
}
#msform .step .step-info input {
  width: 100%;
}
@media (min-width: 768px) {
  #msform .step .step-info input {
    width: 100px;
    margin-bottom: 0;
  }
}
#msform .step .step-info label {
  font-size: 12px;
  width: auto;
  padding-right: 10px;
}
#msform .step .step-info .quote-group {
  display: block;
}
@media (min-width: 768px) {
  #msform .step .step-info .quote-group {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
#msform .step .step-info .quote-group .quote-item {
  margin-right: 10px;
}
#msform .step label {
  display: block;
  width: 30%;
  padding-right: 20px;
  text-align: left;
  text-transform: uppercase;
}
@media (max-width: 650px) {
  #msform .step label {
    width: auto;
    margin: 0 0 8px;
    padding: 0;
  }
}
#msform .step input {
  height: 3.2em;
  width: 100%;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #111112;
  border-radius: 50px;
  line-height: 3.2;
}
@media (min-width: 768px) {
  #msform .step input {
    width: 70%;
  }
}
#msform .step select {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #111112;
  border-radius: 50px;
  height: 3.2em;
}
/*Hide all except first fieldset*/
#msform .step0 {
  display: block;
  position: relative;
  width: 100%;
  background: #f9f9f9;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 15px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  #msform .step0 {
    padding: 20px 30px;
  }
}
/*step8*/
.step8 .step8__inner {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
}
@media (min-width: 768px) {
  .step8 .step8__inner {
    flex-direction: row;
    height: 600px;
    overflow-y: scroll;
  }
}
.step8 .step8__blocks {
  width: 100%;
}
@media (min-width: 768px) {
  .step8 .step8__blocks {
    width: 50%;
  }
}
.step8 .step8__block {
  margin-bottom: 15px;
  padding: 15px;
  background: #c0bdbe;
}
.step8 .step8__price {
  position: relative;
  text-align: left;
  font-weight: bold;
  font-size: 16px;
}
.step8 .step8__price .step8__price-num {
  position: absolute;
  top: 0;
  right: 0;
}
.step8 .step8__info {
  margin-bottom: 15px;
  padding: 15px;
}
.step8 .step8__info-title {
  text-align: left;
  font-weight: bold;
  font-size: 16px;
}
.step8 .step8__info-content {
  font-size: 13px;
  text-align: left;
}
.step8 .step8__p {
  font-size: 13px;
  text-align: left;
}
.step8 .step8__content {
  margin-bottom: 15px;
  padding: 15px;
  background: #c0bdbe;
  text-align: left;
}
.step8 .step8__content-title {
  font-size: 13px;
}
.step8 .step8__content-select {
  font-size: 15px;
  font-weight: bold;
}
.step8 .step8__brand {
  margin-bottom: 15px;
}
.step8 .step8__brand-parent {
  font-size: 15px;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 10px;
}
.step8 .step8__brand-child {
  margin: 0;
  font-size: 13px;
  font-weight: bold;
}
.step8 .step8__content-back-step2 a {
  font-size: 15px;
  font-weight: bold;
  color: #000;
  text-decoration: underline;
}
.step8 .step8__content-back-step2 a:hover {
  color: #f06731;
}
.step8 .step8__image {
  width: 100%;
}
@media (min-width: 768px) {
  .step8 .step8__image {
    width: 50%;
    padding-left: 20px;
  }
}
.step8 .step8__image-wrapper img {
  background: #ffffff;
  border: 1px solid #c2c2c2;
  padding: 4px;
}
.step8 .step8__button-request {
  padding: 15px 0;
  text-align: center;
}
.step8 .step8__button-request a {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  background-color: #737373;
  height: 33px;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  border: none;
}
.step8 .step8__button-request a:hover {
  color: #f06731;
}
.step8 .step8__button-pdf {
  padding: 15px 0;
  text-align: center;
}
.step8 .step8__button-pdf a {
  padding: 13px 13px 13px 45px;
  font-size: 18px;
  font-weight: bold;
  color: black;
  text-align: center;
  background: url('../custom/img/pdf_iconl.png') no-repeat left center;
  border: 1px solid #8a8a8a;
}
.step8 .step8__button-pdf a:hover {
  color: #f06731;
}
/*inputs*/
#msform select,
#msform input,
#msform textarea {
  font-family: montserrat;
  color: #2C3E50;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 13px;
}
/*buttons*/
#msform .action-button {
  display: inline-block;
  max-width: 130px;
  margin: 30px 5px;
  padding: 0 10px 0 10px;
  border-radius: 50px;
  border-color: #98938d;
  color: #98938d;
  font-size: 0.9em;
  font-weight: 500;
  font-family: inherit;
  line-height: 2.25;
  text-transform: uppercase;
  background: transparent;
  cursor: pointer;
  white-space: nowrap;
}
@media (max-width: 768px) {
  #msform .action-button {
    margin: 0 0 10px;
  }
}
#msform select:hover,
#msform select:focus,
#msform input:hover,
#msform textarea:hover,
#msform input:focus,
#msform textarea:focus,
#msform .action-button:hover,
#msform .action-button:focus {
  width: 100%;
  opacity: 1;
  transition: all 400ms ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
/* ------- progressbar ------- */
#progressbar {
  margin-left: 0;
  margin-bottom: 30px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
}
#progressbar li {
  list-style-type: none;
  margin: 0;
  color: white;
  text-transform: uppercase;
  font-size: 9px;
  width: calc(16.66666667%);
  float: left;
  position: relative;
}
#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: #333;
  background: #f9f9f9;
  border-radius: 3px;
  margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: #ccc;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1;
}
#progressbar li:first-child:after {
  content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,
#progressbar li.active:after {
  background: #27AE60;
  color: white;
}
.step7-msg-success {
  text-align: center;
  font-size: 13px;
  font-style: italic;
  color: #27AE60;
}
/* ---------- spinner ---------- */
.quote-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 8;
  width: 100%;
  height: 100%;
  display: none;
  background: rgba(0, 0, 0, 0.6);
}
.spinner {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
  z-index: 9999;
}
.spinner > div {
  background-color: white;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}
.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.spinner .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
@-webkit-keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}
@keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}
